<app-header (sidenavToggle)="sidenav.toggle()" [fixedInViewport]="fixedInViewport"></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation"
               [mode]="mode"
               [opened]="opened"
               [fixedInViewport]="true"
               [fixedTopGap]="layoutGap">
    <app-sidenav (sidenavClose)="sidenav.close()" [fixedInViewport]="fixedInViewport"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="container">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
